
.ngo-card {
display: flex;
justify-content: center;
  align-items: center;
  max-width: 600px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.ngo-image {
  
  width: 200px;
  height: 200px;
  margin-right: 20px;
  border:1px solid orange;
  border-radius: 12px 8px;
}

.ngo-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}



.ngo-details h2 {
  margin-top: 0;
}

.ngo-details p {
  margin-bottom: 10px;
}




